.cube {
	position: relative;
	width: 40px;
	height: 40px;
	transform-style: preserve-3d;
	margin-top: 10px;
	transform: rotateX(-25deg) rotateY(45deg);
}

.face {
	width: 40px;
	height: 40px;
	border: 2px solid black;
	position: absolute;
}

.front {
	background: blue;
	transform: translateZ(20px);
}

.left {
	background: red;
	transform: translateX(-20px) rotateY(-90deg);
}

.top {
	background: white;
	transform: translateY(-20px) rotateX(90deg);
}
